.questions {
  border: 4px dashed var(--color-primary-red);
  width: 350px;
  height: 680px;
  background-color: rgb(102, 99, 99);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  ul {
    padding: 0;

    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      cursor: pointer;
      border: none;
      height: 50px;
      width: 300px;
      margin: 10px auto;
      font-size: 1.1rem;
      font-weight: bold;
      border-radius: 30px;
      background: linear-gradient(
        45deg,
        var(--color-primary-red),
        var(--color-primary-yellow)
      );
      box-shadow: rgb(38, 57, 77) 0px 10px 10px -10px;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 12px var(--color-black-button-shadow-hover);
      }

      &:active {
        transform: scale(0.95);
        box-shadow: 0 3px 6px var(--color-black-button-shadow-active);
      }
    }
  }

  p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0 0 0;
  }

  h2 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
  }
  .timer {
    width: 350px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
  }
}

.popup {
  background: var(--color-primary-yellow);
  height: 35vh;
  width: 35vw;
  border-radius: 2rem;
  border: 4px solid var(--color-primary-red);

  display: block;
  position: absolute;
  top: 30%;
  left: 35%;
}

#congrat {
  font-size: 4rem;
}
#temp {
  font-size: 2rem;
}

#name {
  color: black;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

#ok {
  margin-bottom: 20px;
  cursor: pointer;
  width: 200px;
}

.congratulation {
  text-align: center;
  color: var(--color-primary-red);
}
.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
