* {
  color: white;
  box-sizing: border-box;
}
body {
  margin: 0;
}
:root {
  --color-primary-red: #ff0000;
  --color-primary-yellow: #ffcc00;
  --color-white: #ffffff;
  --color-black-shadow: rgba(0, 0, 0, 0.7);
  --color-black-text-shadow: #000000;
  --color-black-button-shadow: rgba(255, 204, 0, 0.6);
  --color-black-button-shadow-hover: rgba(255, 204, 0, 0.9);
  --color-black-button-shadow-active: rgba(255, 204, 0, 0.7);
}
